<!DOCTYPE html>
<html>
<head>
  <title>RelayPlay</title>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'react_bundle' %>
<%= javascript_include_tag 'application' %>

</body>
</html>
